<h1>Calculate the square of a number</h1>

<form action="/square/results">
  <div>
  <label for="apr_calc">APR</label>
  <input id="apr_calc" type="text" name="apr">

  <div>
  <label for="years">Number of years</label>
  <input id="years" type="text" name="years">

  <div>
  <label for="principal">Principal</label>
  <input id="principal" type="text" name="principal">

  <div>
  <button>Calculate monthly payment</button>

</form>
